#parent {
  width: 350px;
  height: 200px;
  position: relative;
  border: solid 1px red;
  padding: 90px 0 0 60px;
}
#b {
  position: absolute;
  left: 30px;
  top: 30px;
}
#a,
#b,
#c {
  width: 100px;
  height: 60px;
  background-color: yellow;
  border: solid 1px black;
}
