body {
  font-family: "돋움";
  color: #444444;
}
h1 {
  text-decoration: underline;
  color: green;
}
h3 {
  font-size: 25px;
  font-style: italic;
  margin-top: 30px;
}
p {
  line-height: 150%;
  font-size: 18px;
}
span {
  font-weight: bold;
  color: red;
}
