#wrap {
  width: 800px;
  margin: 0 auto;
}
header {
  height: 60px;
  background-color: #dddddd;
}
aside {
  width: 200px;
  height: 300px;
  float: left;
  background-color: pink;
}
section {
  width: 600px;
  height: 300px;
  float: right;
  background-color: yellow;
}
footer {
  clear: both;
  height: 60px;
  background-color: #dddddd;
}
header,
aside,
section,
footer {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}
