div {
  width: 100px;
  height: 50px;
  margin: 10px;
  color: white;
  text-align: center;
}
#a,
#b {
  background-color: green;
}
#c {
  float: right;
  background-color: red;
}
#d {
  float: left;
  background-color: blue;
}
