table {
  border-collapse: collapse;
}
table,
th,
td {
  border: solid 1px #cccccc;
}
table {
  border-top: solid 3px orange;
}
th {
  padding: 10px;
  background-color: #eeeeee;
}
td {
  padding: 10px;
  text-align: center;
}
#col1,
#col2,
#col3 {
  width: 100px;
}
#col4 {
  width: 250px;
}
.bold {
  font-weight: bold;
}
