#main h3 {
  border-left: solid 8px orange;
  padding-left: 20px;
}
#main p {
  line-height: 180%;
}
#main span {
  font-weight: bold;
}
#intro {
  border: solid 1px green;
  padding: 20px;
  margin-top: 30px;
  border-radius: 15px;
}
#intro h3 {
  border-bottom: dotted 1px #cccccc;
  padding-bottom: 5px;
}
#intro span {
  font-weight: bold;
  color: red;
}
