.flex-container {
  display: flex;
  height: 50px;
  background-color: lightgrey;
}
.flex-item {
  width: 50px;
  background-color: lightcyan;
  border: 1px solid red;
  flex-basis: 150px;
}
.flex-item:nth-child(1) {
  flex-basis: 50px;
}
