body {
  margin-left: 10px;
}
a,
b,
c {
  border: solid 1px black;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}
a {
  background-color: green;
}
#a {
  background-color: red;
}
.a {
  background-color: green;
}
[for="a"] {
  background-color: yellow;
}
