.flex-container {
  display: flex;
  height: 50px;
  background-color: lightgrey;
}
.flex-item {
  width: 50px;
  background-color: lightcyan;
  border: 1px solid red;
}
.flex-item:nth-child(1) {
  order: 2;
}
.flex-item:nth-child(2) {
  order: 3;
}
.flex-item:nth-child(3) {
  order: 4;
}
.flex-item:nth-child(4) {
  order: 1;
}
