body {
  background-color: skyblue;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}
@media only screen and (max-height: 600px) {
  body {
    background-color: yellow;
  }
}
