body {
  margin: 0px;
}
.border {
  border: solid 1px black;
}
.big {
  display: flex;
}
.content {
  display: flex;
  justify-content: center;
}
.menu {
  border: solid 1px lightgray;
  height: 815.333px;
  width: 220px;
  padding: 8px 12px 20px 12px;
  flex-direction: column;
}
.logo {
  height: 92px;
  width: 220px;
}
.logo > div {
  padding: 25px 12px 16px 12px;
  height: auto;
  width: auto;
}
.logo > div > div > a > img {
  height: 29px;
  width: 103px;
}
.menu_main {
  height: 611.33px;
  width: 220px;
}
.menu_main_sub {
  height: 24px;
  width: 196px;
  padding: 12px;
  margin: 4px 0px;
}
.menu_main_sub > div > a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu_main_sub > div > a > div:nth-child(2) {
  padding-left: 16px;
}
.menu_sub {
  height: 112px;
  width: 220px;
}
.page {
  padding: 22px 0px 0px 0px;
  height: auto;
  width: 1446.67px;
  flex-direction: row;
}
.page_sub1 {
  width: 630px;
}
.page_sub2 {
  padding: 0px 0px 0px 64px;
  width: 319px;
}
